body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
}
#encabezado {
    background: linear-gradient(135deg, #121212, #1DB95422); /* oscuro + verde suave */
    color: #1DB954;
    text-align: center;
    padding: 1px 0;
    font-size: 1.08rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


h1, h2 {
    color: #1DB954;
}

#login-section, #register-section, #songs-section {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
}
#login-section a, #register-section a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2a2a2a;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #1DB954;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    background-color: #2a2a2a;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

audio {
    width: 100%;
    margin-top: 15px;
}
