<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Canciones</title>
    <link rel="stylesheet" href="/static/estilos/cancionesLista.css">
</head>
<body>

<section id="encabezado">
    <h1>Lista de Canciones</h1>
</section>

<div class="page-wrapper">
    <div id="songs-section" class="seccion-auth visible">
        <ul id="songs-list"></ul>

        <audio id="audio-player" controls></audio>

        <div class="controls">
            <button id="prev-song">Anterior</button>
            <button id="next-song">Siguiente</button>
        </div>
    </div>
</div>

<button id="back-menu">Volver al menú</button>

<script src="/static/script/cancionesLista.js"></script>
</body>
</html>


