<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify - Login / Registro</title>
    <link rel="stylesheet" href="/static/estilos/style.css">
</head>
<body>

<section id="encabezado">
    <h1>Spotify Premium</h1>
</section>


{% if mode == "login" %}
<div id="login-section" class="seccion-auth visible">
    <h2>Iniciar sesión</h2>
    <input type="text" id="login-username" placeholder="Usuario">
    <input type="password" id="login-password" placeholder="Contraseña">
    <button id="login-button">Entrar</button>

    <p id="login-message" class="mensaje"></p>
    <p>¿No tienes cuenta? Regístrate <a href="/register">Aquí</a></p>
</div>


{% elif mode == "register" %}
<div id="register-section" class="seccion-auth visible">
    <h2>Registrar usuario</h2>
    <input type="text" id="register-username" placeholder="Usuario">
    <input type="password" id="register-password" placeholder="Contraseña">
    <button id="register-button">Registrar</button>

    <p id="register-message" class="mensaje"></p>
    <p>¿Ya tienes cuenta? Inicia sesión <a href="/">Aquí</a></p>
</div>
{% endif %}

<script src="/static/script/login.js"></script>
</body>
</html>
