<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Canción</title>
    <link rel="stylesheet" href="/static/estilos/subirCancion.css">
</head>
<body>

<section id="encabezado">
    <h1>Subir Canción</h1>
</section>

<div class="seccion-auth">

    <h2>Subir archivo MP3</h2>
    <input type="file" id="song-file" accept=".mp3">
    <button id="upload-btn">Subir Canción</button>
    <p id="upload-message"></p>

    <hr>

    <h2>Desde URL (YouTube, etc.)</h2>
    <input type="text" id="song-url" placeholder="Pega aquí el enlace del video...">

    <div>
        <button id="upload-url-btn">Guardar en el servidor</button>
        <button id="download-url-btn">Guardar en el dispositivo</button>
    </div>

    <p id="upload-url-message"></p>

    <br>
    <button id="back-menu">Volver al Menú</button>

</div>

<script src="/static/script/subirCancion.js"></script>
</body>
</html>